.admin-container {
  display: flex;
  flex-direction: row;
  background-color: var(--light);
  width: 100vw;
}

.admin-login-container {
  margin: auto;
}

.add-new-career-btn {
  padding-bottom: 20px;
  margin-left: 80%;
}
